.python-version
.vscode/
experimental/*
venv/
winvenv/
scratch.py
.idea/
saves
src/tests/engine/persistence/*.pikl
src/tests/engine/persistence/*.yaml
assets/sprites/
assets/wordlists/
__pycache__/
docs/dev
profiles/
*.bak
*.zip
settings.yaml
client_secrets.json
credentials.json