.python-version
.vscode/
experimental/*
venv/
winvenv/
scratch.py
.idea/
saves
testing.*
assets/sprites/
assets/wordlists/
__pycache__/
docs/dev

settings.yaml
*.zip
client_secrets.json
credentials.json